<!DOCTYPE html>
<html lang="en" data-theme="dark">

<% include('head.ejs') %>

<body class="column w3-content">

<% include('header.ejs') %>

<form action="/user" class="w3-content cc m10" method="post">
<% for (schema) %>
<div class="cr ci m20">
	<b class="fit"><% v.name %></b>
	<input class="fit" name="<% v.name %>" type="<% v.type %>">
</div>
<% endfor %>
<input type="submit" class="ux" value="Add">
</div>

</body>
</html>
