
<div class="cr ci m10 w3-padding w3-light-grey w3-margin-top w3-margin-bottom w3-round w3-card-2">
<h1 class="fit">Demo Site</h1>
<a href="/">home</a>
<a href="/user">users</a>
<a href="/post">posts</a>
</div>
