<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<link rel="stylesheet" href="site.css">
<link rel="stylesheet" href="dist/main.min.css">

<script src="dist/utils-base.min.js"></script>
<script src="dist/core.min.js"></script>


<style>

</style>
</head>
<body class="column w3-content">
<h1 class="w3-light-grey w3-round w3-padding"><% Site.name %> - <% Site.domain %></h1>
<a href="/users">Users</a>

<% include('footer.ejs') %>

</body>
</html>