<!DOCTYPE html>
<html lang="en" data-theme="dark">

<% include('head.ejs') %>

<body class="column w3-content">

<% include('header.ejs') %>

<form class="cc m10" method="post" action="/login">
	
	<div class="cr ci">
		<b class="fit">username:</b>
		<input type="text" name="username" />
	</div>

	<div class="cr ci">
		<b class="fit">password:</b>
		<input type="password" name="password" />
	</div>

	<button type="submit">Login</button>
</form>

<% include('footer.ejs') %>

</body>
</html>