<!DOCTYPE html>
<html lang="en" data-theme="dark">

<% include('head.ejs') %>

<body class="column w3-content">

<% include('header.ejs') %>

<h1><red>Error: </red> User not exists!</h1>

<% include('footer.ejs') %>

</body>
</html>