<!DOCTYPE html>

<% include('head.ejs') %>

<body class="column w3-content">

<% include('header.ejs') %>

<div class="cc m15">
	<h1><% title %></h1>
	<b><% summary %></b>
	<div class="md"><% md %></div>
</div>

</body>
