<!DOCTYPE html>

<% include('head.ejs') %>

<body class="w3-content cc">

<% include('header.ejs') %>

<form id="search-form" class="search-box" action="/user" method="GET">
	<input type="text" name="name" placeholder="Search...">
	<button type="submit" class="icon fa fa-search"></button>
</form>

<h2>Users: <% users.length %> </h2>

<% for (users) %>

<div class="cr ci">
	<b>Name:</b>
	<a href="/user/<% v.id %>"><% v.name %></a>
</div>

<% endfor %>

<div class="cr ci m15 w3-light-grey w3-round w3-padding">

<% if (prev) %>
<a href="<% prev %>">prev</a> 
<% endif %>

<% if (next) %>
<a href="<% next %>">next</a> 
<% endif %>

</div>

<% include('footer.ejs') %>

<script>

	const form = document.getElementById("search-form");
	const input = form.querySelector('input[name="name"]');

	form.addEventListener("submit", function (e) {
		if (!input.value.trim()) {
			e.preventDefault();
			alert("Please enter a search term.");
		}
	});
</script>

</body>